<style>
  body {
      background-color: #fff;
      text-align: center;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      max-width: 600px;
  }
  .container{
      background-color: #fafafa;
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 2px;
  }
  .title {
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      line-height: 65px;
      width: 100%;
      margin: 0px 30px;
      border-radius: 10px;
  }
  .content{
      display: flex;
      flex-direction: column;
      padding: 20px;
  }

</style>
<body>
  <div class="container">
    <div class="title">
      <img src="https://github.com/Rocketseat/bootcamp-gostack-desafio-03/raw/master/.github/logo.png?raw=true" width="200px" height="120px" alt="Gympoint" >
      <h1>{{ student }}, atualização realizada com sucesso. </h1>
    </div>
    <div class="content">
      <p>Sua matrícula no <strong>Gympoint</strong> acaba de ser atualizada. Id de cadastro continua o mesmo: <strong>{{id}}</strong>. Abaixo estão os dados da atualização</p>
      <p>Você atualizou para o plano <strong>{{ plan }}</strong> no valor mensal de <strong>R${{ mensal }},00/mês</strong></p>
      <p>Seu plano se inicia no <strong>dia {{ start_date }} e termina no dia {{ end_date }}</strong></p>
      <p>Sinta-se a vontade, para mudar de plano quando desejar.</p>
    </div>
  </div>
  {{> footer }}
</body>
